<div class="wrapper">
  <h2>Comments:</h2>

  <form
    ngForm
    class="form-comment"
    #commentForm="ngForm"
    (ngSubmit)="addComment(commentForm)"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <mat-form-field>
      <textarea
        class="textarea-comment"
        #textareaInput="ngModel"
        ngModel
        matInput
        name="comment"
        id="comment"
        rows="5"
        maxlength="150"
        required
        minlength="10"
        placeholder="Write Comment"
      ></textarea>
      <div class="hint" fxLayoutAlign="end">
        <mat-hint>{{ textareaInput?.value?.length }} / 150</mat-hint>
      </div>
      <mat-error *ngIf="textareaInput.hasError('required')"
        >Please write a comment</mat-error
      >
      <mat-error *ngIf="textareaInput.hasError('minlength')"
        >Comment must be at least 10 symbols long</mat-error
      >

    </mat-form-field>
    <button
      class="btn-sign-up"
      mat-raised-button
      color="primary"
      [disabled]="commentForm.invalid"
    >
      Send
    </button>
  </form>
  <div
    class="comments"
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <mat-card *ngFor="let comment of allCommentss | async" style="border: 1px solid gray;">
      <div fxLayout>
        <img
          src="{{ comment.person_pic }}"
          class="avatar-comments"
          alt="No Avatar"
        />
        <mat-card-header>
          <mat-card-title>{{ comment.person_name }}</mat-card-title>
        </mat-card-header>
      </div>
      <mat-card-content class="content-comments">{{
        comment.cmd
      }}</mat-card-content>
    </mat-card>
  </div>
</div>
